// color
$bgColor : #00bcd4;
$white : #fff;
$grey : #e4e7ea;
$darkGrey : #616161;
$orange:  #ff8300;
$textColor: #212121;

// height
$headerHeight : .86rem /* 43/50 */;

// font-size
$defaultFont : .24rem /* 12/50 */;
$middleFont : .28rem /* 14/50 */;
$titleFont : .32rem /* 16/50 */;
